ipdb==0.13.11
ipykernel==6.24.0
ipython==8.14.0
ipython-genutils==0.2.0
matplotlib==3.6.3
matplotlib-inline==0.1.6
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
plotly==5.18.0
requests==2.28.1
seaborn==0.13.0
urllib3==1.0.1